.App {
  max-width: 1500px;
  min-height: 100vh;
  background-image: url(../assets/bg-tablet-pattern.svg);
  
  /* background-image: url(../assets/bg-tablet-pattern.svg) top right no-repeat; */
  background-repeat: no-repeat;
  background-position: right -25% top -10%; 
}

.whiteBgContent {
  background-image: url(../assets/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: left -75% bottom 15%; 

}

@media screen and (max-width: 375px) {
  .App {
    background-size: 500px;
    background-position: right 125% top -5%;
  }

  .whiteBgContent {
    background-image: none;
  }
}