button.container {
    border: none;
    border-radius: 30px;

    height: 50px;
    width: 155px;

    color: var(--very-light-gray);
    background-color: var(--bright-red);
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0px 8px 10px 1px hsl(13, 100%, 75%, 0.5);
}

button.container:hover {
    background-color: var(--faded-red);
}

button.container.inverted {
    background-color: white;
    color: var(--bright-red);
    box-shadow: none;
}

button.container.inverted:hover {
    color: var(--faded-red);
}

button.container.small {
    box-shadow: none;
    width: 70px;
    height: 45px;
}

@media screen and (max-width: 375px) {
    button.mobileHidden {
        display: none;
    }
}