.container {
    /* border: 1px solid red; */
    min-height: 175px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.container > .index {
    margin: 0 25px 0 0;
    width: 215px;
    height: 35px;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--bright-red);
    color: white;
    font-weight: bold;
}

.text {
    width: 300%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

}

.text > .index {
    display: none;
}

.text > h1 {
    margin: 1% 0 4%;
    padding: 0;
}

.text > p {
    margin: 0;
    padding: 0;

    font-size: 0.95em;
}

@media screen and (max-width: 375px) {
    .container {
        margin: 0 0 5%;
        padding: 0;
    }
    .container > .index {
        display: none;
    }

    .text > .index {
        /* border: 1px solid red; */
        height: 75px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
    }
    
    .text > .index > p {
        width: 90px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        color: white;
        font-weight: bold;
        background-color: var(--bright-red);

        position: relative;
        left: 10px;
    }

    .text > .index > h1 {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        font-size: 1rem;
        color: var(--very-dark-blue);
        background-color: var(--very-pale-red);
        position: relative;
        z-index: -1;
    }
    
    .text > .index > h1::before {
        height: 100%;
        width: 20px;
        content: "";
        background-color: var(--very-pale-red);

        position: relative;
        left: -20px;
        z-index: -2;

    }

    .text > h1 {
        display: none;
    }

    .text > p {
        font-size: 0.9rem;
        padding: 0 13px;
        line-height: 1.8rem;
    }
}