.container {
    min-height: 275px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    background-color: var(--very-dark-blue);
}

.container ul {
    list-style: none;
}

.left {
    /* border: 1px solid red; */
    height: 150px;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.left > p {
    display: none;
}

.left > img {
    width: 70%;
}


.left > ul {
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.left > ul > li img:hover {
    filter: brightness(0) saturate(100%) invert(42%) sepia(100%) saturate(488%) hue-rotate(327deg) brightness(96%) contrast(98%);
}

.middle {
    margin: 0 5%;
    width: 40%;
    /* height: 300px; */
}

.middle > ul {
    /* border: 1px solid red; */
    /* width: 50%; */
    max-height: 200px;
    margin: 0;
    padding: 0;
    /* max-height: 100%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.middle > ul > li {
    margin: 2%;
}

.middle a {
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
}

.middle a:hover {
    color: var(--bright-red);
}

.right {
    /* border: 1px solid white; */
    height: 145px;
    width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.right > form > input {
    margin: 0 10px 0 0;
    height: 35px;
    width: 190px;
    border-radius: 30px;
    border-style: solid;
}

.right > form > input:not(:focus):not(:placeholder-shown):invalid {
    color: var(--bright-red);
    border: 1px solid var(--bright-red);
}

.right > form > input ~ p.error {
    visibility: hidden;
}

.right > form > input:not(:focus):not(:placeholder-shown):invalid ~ p.error {
    color: var(--bright-red);
    visibility: visible;
}

.right > form > input::placeholder {
    color: var(--dark-grayish-blue);
}

.right > form > p {
    margin: 0;
    padding: 0;
    color: var(--bright-red);
    font-size: 0.7rem;
    font-style: italic;

}
.right > p {
    font-size: 0.8rem;

}

@media screen and (max-width: 375px) {
    .container {
        /* border: 1px solid red; */
        padding: 10% 0 0;
        flex-direction: column-reverse;
    }
    .right {
        width: 100%;
        height: 100px;
    }

    .right > form {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .right > form > input {
        width: 60%;
    }
    
    .right > form > p.error {
        /* border: 1px solid white; */
        width: 80%;
        
    }
    
    .right > p {
        display: none;
    }
    
    .middle {
        /* border: 1px solid red; */
        width: 100%;
    }


    .middle > ul {
        /* border: 1px solid white; */
        padding: 0 0 0 12%;
        width: 100%;
        height: 150px;
    }
    
    .left {
        /* border: 1px solid red; */
        flex-direction: column-reverse;
        width: 100%;
        height: 230px;
        justify-content: space-around;
    }

    
    .left > p {
        display: block;
        font-size: 0.7rem;

    }
    .left > img {
        width: 40%;
    }

    .left > ul {
        width: 100%;
    }

    .left > ul > li {
        /* border: 1px solid red; */
        width: 20%;
        aspect-ratio: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .left > ul > li > a > img {
        scale: 1.5;
    }
}