.container {
    border: 1px solid red;
    height: 100px;
    padding: 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

img.logo {
    /* border: 1px solid red; */
    scale: 1.3;
}

ul.navLinks {
    border: 1px solid red;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    list-style: none;
}