.container {
    /* border: 1px solid red; */
    margin: 4% 0 0 0;
    min-height: 600px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.usp {
    /* border: 1px solid red;  */
    width: 35%;
}

.usp > h1 {
    /* border: 1px solid red; */
    margin: 5% 0 6%;
    width: 90%;

    font-size: 2.5rem;
    line-height: 2.9rem;
}

.usp > p {
    width: 70%;
}

.features {
    width: 35%;
}

.features > ol {
    margin: 0;
    padding: 0;
    counter-reset: list-number;
}

.features > ol > li {
    /* border: 1px solid red; */
    list-style: none;

    counter-increment: list-number;

    display: flex;
}

@media screen and (max-width: 375px) {
    .container {
        margin: 10% 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .usp {
        /* border: 1px solid red; */
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .usp > h1 {
        /* border: 1px solid red; */
        width: 70%;

        text-align: center;
        font-size: 2rem;
    }
    
    .usp > p {
        /* border: 1px solid red; */
        width: 85%;

        text-align: center;
        font-size: 0.9rem;
    }

    .features {
        width: 100%;
    }
}