.container {
    border: 1px solid red;
    --card-width: 500px;
    margin: calc(-1 * var(--img-width)/2) 0 0 0;
    width: var(--card-width);
    height: calc(var(--card-width)/2);
    position: relative;
    
}

.text {
    /* border: 1px solid blue; */
    padding: 60px 0 10px;
    position: absolute;
    top: 0;
    height: calc(var(--card-width/2));
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--very-light-gray);
    
}

.container > img {
    --img-width: 65px;
    margin: 0;
    padding: 0;
    width: var(--img-width);
    position: absolute;
    /* top: -32.5px; */
    top: calc(-1 * var(--img-width)/2);
    left: calc(50% - var(--img-width)/2);

    z-index: 1;
}

.text > h1 {
    margin: 0;
    padding: 0;
}


.text > p {
    margin: 0;
    padding: 4%;
    text-align: center;
}