.container {
    /* border: 1px solid red; */
    --card-width: 600px;
    margin: calc(-1 * var(--img-width)/2) 0 0 0;
    width: var(--card-width);
    /* min-height: calc(var(--card-width)/2); */
    position: relative;
}

.content {
    /* background-color: var(--faded-red); */

    padding: 20px 0 0;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    /* position: relative; */

}


.content img {
    --img-width: 65px;
    margin: 0;
    padding: 0;
    width: var(--img-width);
    position: relative;
    top: calc(var(--img-width)/2);
    z-index: 1;
}

.text {
    width: 95%;
    background-color: var(--very-light-gray);
    padding: 50px 0 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text > h1 {
    /* border: 1px solid green; */
    margin: 0;
    padding: 0;
    text-align: center;
}


.text > p {
    /* border: 1px solid green; */
    width: 80%;
    margin: 0;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 375px) {
    .container {
        width: 100vw;
    }
}