@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  font-size: 16px;
  font-family: 'Be Vietnam Pro', sans-serif;

  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);
  
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --faded-red: hsl(13, 100%, 75%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--dark-grayish-blue);
}

h1 {
  color: var(--dark-blue)
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/*For Carousel component in SectionTestimonials*/
.rec.rec-pagination {
  display: none;
}

.rec.rec-carousel {
  position: relative;
  margin: 0 0 5%;
}

.rec.rec-carousel > button.rec.rec-arrow {
  /* border: 1px solid var(--dark-grayish-blue); */
  position: absolute;
  z-index: 2;
  background-color: var(--bright-red);
  box-shadow: none;
  color: white;
  visibility: hidden;
}

.rec.rec-carousel:hover > button.rec.rec-arrow {
  visibility: visible;
}
.rec.rec-carousel > button.rec.rec-arrow:hover {
  background-color: var(--faded-red);
}

.rec.rec-carousel:hover > button.rec.rec-arrow:disabled {
  visibility: hidden;
  cursor: pointer;
}

.rec.rec-carousel > button.rec.rec-arrow.rec-arrow-left {
  left: 1%;
}

.rec.rec-carousel > button.rec.rec-arrow.rec-arrow-right {
  right: 1%;
}


@media screen and (max-width: 375px) {
  .rec.rec-arrow {
    display: none;
  }

  .rec.rec-pagination {
    display: flex;
    margin: 0 0 10%;
  }

  button.rec.rec-dot{
    border: 1.5px solid var(--bright-red);
    box-shadow: none;
    margin: 3px
  }

  button.rec.rec-dot_active {
    background-color: var(--bright-red);
    box-shadow: var(--bright-red);

  }

} 